<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <title>Hello, VueJS!</title>

    <script src="https://unpkg.com/vue"></script>

    <style>
      .present {
        color:blue;
      }
      .absent {
        color:red; 
      }
    </style>

  </head>
  <body>
    <div id="app">
      <p>{{message.toUpperCase()}}</p>
      <p>Welcome to all {{attendees}} attendees.</p>

      <div v-if="showComment">
          <p v-if="attendees>10">Wow, what a crowd!</p>
          <p v-else-if="attendees>=2 && attendees<=10">Good turnout</p>
          <p v-else="attendees<2">Talking to myself again</p>
      </div>

      <ul>
        <li v-for="m in members" :class="{present:m.isPresent, absent:!m.isPresent}">{{m.name}}</li>
      </ul>
      <input v-model="newMember" type="text"><button v-on:click="addMember">Add Member</button>
      
      <br><br>
      <button v-on:click="handleBtnClick">Show Member Count</button>

      <br><br>
      <input @keyup="countKeys" v-model="inText" type="text">  {{counter}}

      <br><br>
      <span :title="message">Some text for the span</span>

      <div :style="divStyle">This is a styled div</div>

      <br><br>
      <input v-model="message" type="text">

      <br><br>
      <mycomp myprop="one" mycolor="red"   ></mycomp>
      <mycomp myprop="two" mycolor="blue"   ></mycomp>
      <mycomp myprop="three" mycolor="orange" ></mycomp>

    </div>

    <script>

      Vue.component('mycomp',{
        props: ['myprop','mycolor'],
        template: `
        <div>
          <p :style="compStyle">{{myprop}} - {{someText}}</p>          
          <hr/>
        </div>
        `,
        data() {
          return {
            someText: 'Some text for my component',
            compStyle: {
              color: this.mycolor
            }
          };
        }
      });

      new Vue({
        el: '#app',
        data: {
          divStyle: {
            color: 'red',
            backgroundColor: 'lightgray',
            fontSize:'2em'
          },
          message: 'Hello VueJS!',
          attendees: 1,
          showComment: true,
          members: [
            {name:'Jack', isPresent:true},
            {name:'Jill', isPresent:false},
            {name:'Fred', isPresent:true},
            {name:'Wilma', isPresent:true},
            {name:'Barney', isPresent:false}
          ],
          newMember: '',
          inText: '',
          counter: 0
        },
        methods: {
          handleBtnClick: function() {
            alert('We have ' + this.members.length + ' members');
          },
          countKeys: function() {
            this.counter = this.inText.length;
          },
          addMember: function() {
            this.members.push({name:this.newMember});
            this.newMember = '';
          }
        }
      });

    </script>

  </body>
</html>
